jupyterlab>=4.2
notebook>=7.2
ipykernel>=6.29
ipywidgets>=8.1

numpy>=1.26,<3
pandas>=2.2
matplotlib>=3.8
pillow>=10.0
scikit-learn>=1.4
tqdm>=4.66

torch>=2.3
torchvision>=0.18
torchmetrics>=1.4

kagglehub>=0.3
ddgs>=9.0

transformers>=4.45
accelerate>=0.34
qwen-vl-utils>=0.0.8
huggingface-hub>=0.24
safetensors>=0.4

peft>=0.12